html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.frame-6 {
    display: flex;
    box-sizing: border-box;
}

.logo {
    overflow-wrap: break-word;
    font-family: var(--sub-header-font-family);
    font-weight: var(--sub-header-font-weight);
    font-size: var(--sub-header-font-size);
    color: var(--blue);
}

.menu {
    margin: 7px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 168px;
    height: fit-content;
    box-sizing: border-box;
}

.project-1, .info-1 {
    overflow-wrap: break-word;
    font-family: var(--menu-link-font-family);
    font-weight: var(--menu-link-font-weight);
    font-size: var(--menu-link-font-size);
    text-decoration-line: var(--menu-link-text-decorationLine);
    color: var(--blue);
    cursor: pointer; /* 鼠标悬停时显示手形光标 */
}

.project-1:hover, .info-1:hover {
    text-decoration: none; /* 鼠标悬停时去掉下划线 */
}
