:root {
    --blue: #0000FF;
    --sub-header-font-family: 'Inter', sans-serif;
    --sub-header-font-weight: 600;
    --sub-header-font-size: 30px;
    --menu-link-font-family: 'Inter', sans-serif;
    --menu-link-font-weight: 600;
    --menu-link-font-size: 18px;
    --menu-link-text-decorationLine: underline;
    --heading-font-family: 'Inter', sans-serif;
    --heading-font-weight: 600;
    --heading-font-size: 80px;
    --mpargraphy-font-family: 'Inter', sans-serif;
    --mpargraphy-font-style: italic;
    --mpargraphy-font-weight: 500;
    --mpargraphy-font-size: 20px;
  }
  
.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 40px;
    background-color: #fff; /* 确保背景色与内容区分开 */
    border-bottom: none; /* 添加边框线，区分导航栏 */
}

.frame-6 {
    display: flex;
    box-sizing: border-box;
}

.logo {
    overflow-wrap: break-word;
    font-family: var(--sub-header-font-family);
    font-weight: var(--sub-header-font-weight);
    font-size: var(--sub-header-font-size);
    color: var(--blue);
}

.menu {
    margin: 7px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 168px;
    height: fit-content;
    box-sizing: border-box;
}

.project, .info {
    display: flex;
    box-sizing: border-box;
}

.project-1, .info-1 {
    overflow-wrap: break-word;
    font-family: var(--menu-link-font-family);
    font-weight: var(--menu-link-font-weight);
    font-size: var(--menu-link-font-size);
    text-decoration-line: var(--menu-link-text-decorationLine);
    color: var(--blue);
}